@import "normalize.css";
@import "sanitize.css";
// @import "fontface.css";

html {
  height: 100%;
}

body {
  font-family: "OpenSans-Regular", sans-serif;
  height: 100%;
  overflow: hidden;
  background-color: $mainDarkColor;
  min-height: 100vh;
}

#app {
  min-height: 100%;
  position: relative;
}

.container {
  height: 100%;
  position: relative;
  min-height: 100vh;
}
