.wrapper {
  flex: 1;
  position: absolute;
  width: 450px;
  left: 167px;
  bottom: 170px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    position: relative;
  }
}

.link {
  text-decoration: none;
  font-size: $mainFontSize;
  color: $mainLightColor;
  font-weight: bold;
  position: relative;

  &::after {
    background: $mainLightColor;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 25px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }
}
