.AboutPage {
  height: 100vh;
}

.redCircle {
  width: 600px;
  height: 600px;
  position: absolute;
  top: -140px;
  left: -160px;
  img {
    height: 100%;
    width: 100%;
  }
}

.me {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 130px;
  left: 50px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.vector {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 415px;
  left: 40px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.description {
  position: absolute;
  top: 200px;
  right: 120px;
  color: $mainLightColor;
  width: 500px;

  span {
    font-size: 18px;
    line-height: 35px;
  }
}

.header {
  color: $mainRedColor;
  font-size: 50px;
  text-align: right;
  border-bottom: 3px solid;
}
